<form class="form-horizontal" style="padding-top: 2em">
  <div class="well form-horizontal">
    <div class="control-group">
      <input type="checkbox" class="tick input-small" name="done">
      <input name="title" val="{{title}}">
    </div>
    <div class="control-group">
      <p>Assigned: <strong>{{assignee_name}}</strong></p>
    </div>
    <div class="control-group">
      <textarea name="description" placeholder="Description" name="">
      </textarea>
    </div>
    <div class="control-group">
      <button id="kl-detail-save" class="btn btn-primary">Save</button>
      <a href="#" data-bypass class="delete">Delete</a>
    </div>
  </div>
</form>
